Castro Bajaña Ariel Omar <acastrob@uteq.edu.ec> arielca868 <acastrob@uteq.edu.ec>
Crespo Espinoza Kleber Obed <kcrespoe@uteq.edu.ec> kcrespoe <kcrespoe@uteq.edu.ec>
Gamarra Araujo Edhu Xavier <egamarraa@uteq.edu.ec> EdhuXav <egamarraa@uteq.edu.ec>
Gamarra Araujo Edhu Xavier <egamarraa@uteq.edu.ec> Edhu Xavier <egamarraa@uteq.edu.ec>
Pérez Ruiz Carlos Andrés <cperezr3@uteq.edu.ec> andres-perez <cperezr3@uteq.edu.ec>
Pérez Ruiz Carlos Andrés <cperezr3@uteq.edu.ec> Carlos Perez Ruiz <cperezr3@uteq.edu.ec>
Quintero Gende Erick Jahir <equinterog@uteq.edu.ec> equinteroj <equinterog@uteq.edu.ec>
